<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Vendors</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <a class="add-vendor" href= "/users/<%=user._id%>/vendors/new">Add a Vendor</a>
    <% if(vendors.length){ %>
        <h1>My Vendor List</h1>
    <ul>
        <%vendors.forEach((vendor) =>{%>
            <li>
                <a class="vendor-company" href="/users/<%=user._id%>/vendors/<%=vendor._id%>">
                    <%= `${vendor.company}` %>
                </a>

            </li>


       <% })%>
    </ul>
    <% }else{%>
    <h1> You have no reviews</h1>
    <%}%>


    
</body>
</html>